body{
	background-color: azure;
}
.top{
	text-align: center;
	
	height: 100px;
}
.item{
	margin: auto;
	background-color: beige;
	width: 1200px;
	height: 800px;
	text-align: center;
}
a{
	text-decoration: none;
}
